{% extends "base.html" %} {% block title %}Intro{% endblock %} {% block styles
%}
<style>
  body {
    background-color: #f2e8cf;
  }
</style>
{% endblock %} {% block content %}
<div class="intro-body">
  <div class="container text-center mt-5">
    <h1>Track every frame.</h1>
    <p class="subtext">Your photography companion</p>


    <div class="button-group my-4">
      <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">
        Explore
      </a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-5">
      <div class="col">
        <div class="feature card h-100 p-3 text-center">
          <img
            src="{{ url_for('static', filename='images/shutter.gif') }}"
            alt="Camera Icon"
            class="feature-icon img-fluid mb-2"
          />
          <p>
            Track your cameras, lenses, and favorite film stocks in one place.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="feature card h-100 p-3 text-center">
          <img
            src="{{ url_for('static', filename='images/settings.gif') }}"
            alt="Settings Icon"
            class="feature-icon img-fluid mb-2"
          />
          <p>
            Never forget which settings you used again. Document every roll.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="feature card h-100 p-3 text-center">
          <img
            src="{{ url_for('static', filename='images/statan.gif') }}"
            alt="Gear Icon"
            class="feature-icon img-fluid mb-2"
          />
          <p>Visualize your exposure habits and gear usage trends.</p>
        </div>
      </div>

      <div class="col">
        <div class="feature card h-100 p-3 text-center">
          <img
            src="{{ url_for('static', filename='images/maps.gif') }}"
            alt="Share Icon"
            class="feature-icon img-fluid mb-2"
          />
          <p>
            Create links and PDFs of your logs and share with your community.
          </p>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

